@import '@/presentation/styles/main.scss';

.modalCard {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  gap: 0.8rem;
  color: $black;

  .tshirtImage {
    position: relative;
    width: 100px;
    height: auto;

    .tshirtLogo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-47%, -70%);
      width: 30px;
      height: auto;
    }
  }

  .cardTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    h6 {
      font-weight: 400;

      span {
        opacity: 0.5;
      }
    }
  }

  .cardDetail {
    display: flex;
    align-items: center;
    justify-content: flex-end;


    h6 {
      font-weight: 300;
    }
  }


}