@import '@/presentation/styles/main.scss';

.shop {
  @include padding();

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  color: $black;

  .shopMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    padding: 1.6rem 0;


    a {
      all: unset;
      cursor: pointer;
    }

    h5 {
      font-weight: 400;
      cursor: pointer;
    }
  }

  .shopItems {
    display: flex;
    flex-wrap: wrap;

    a {
      color: unset;
      text-decoration: unset;
    }
  }


  .shopPagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 20vh;


    button {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 40px;
      color: $primary;
      border-bottom: solid 1px $primary;
      font-size: 1.4rem;
      font-weight: 400;
      cursor: pointer;
    }

    .shopPage {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 20rem;

      h6 {
        font-weight: 400;
        cursor: pointer;
      }
    }
  }

}