@import '@/presentation/styles/main.scss';

.home {
  @include padding();

  @include responsive(phone) {
    padding-top: 0;
    padding-bottom: 0;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 85vh;
  height: auto;
  width: 100vw;
  color: $black;

  h5 {
    font-weight: 500;
    color: $black;
  }
}
