@import '@/presentation/styles/main.scss';

.shopTint {
  @include padding();

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  color: $black;

  .shopItems {
    display: flex;
    padding: 3.2rem 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    a {
      color: unset;
      text-decoration: unset;
    }
  }
}