$white: #FFFFFF;
$black: #272727;
$gray: #BBC8D4;
$grayDark: #6D7D8B;


$primary: #5702cf;
$primaryLight: #713bbb;
$primaryDark: #4a02af;

$state-info: #2F80ED;
$state-success: #27AE60;
$state-warning: #E2B93B;
$state-error: #EB5757;