$white: #ffffff;
$black: #272727;
$gray: #bbc8d4;
$grayLight: #bbc8d460;
$grayDark: #6d7d8b;

$primary: #1e3a8a;
$primaryLight: #4258b2;
$primaryDark: #162863;
$secondary: #50f38c;

$state-info: #2f80ed;
$state-success: #27ae60;
$state-warning: #e2b93b;
$state-error: #eb5757;
