$h1: 3.9rem;
$h2: 3.6rem;
$h3: 2.2rem;
$h4: 1.8rem;
$h5: 1.6rem;
$h6: 1.4rem;
$p: 1.3rem;

h1 {
  font-size: $h1
}

h2 {
  font-size: $h2
}

h3 {
  font-size: $h3
}

h4 {
  font-size: $h4
}

h5 {
  font-size: $h5
}

h6 {
  font-size: $h6
}

p {
  font-size: $p
}