  @mixin padding {

    @include responsive(desktop) {
      padding: 0 30rem;
    }

    @include responsive(mini-desktop) {
      padding: 0 26.25rem;
    }

    @include responsive(tablet-land) {
      padding: 0 1.6rem;
    }

    @include responsive(tablet-port) {
      padding: 0 1.6rem;
    }

    @include responsive(phone) {
      padding: 7rem 0.8rem;
    }

    padding: 0 30rem;
    @content
  }



  @mixin responsiveHeight ($height-phone, $height-tablet-port, $height-tablet-land, $height-mini-desktop, $height-desktop, $height-big-desktop) {

    height: $height-big-desktop;

    @media (max-width: 100em) {
      height: $height-desktop;
    }

    @media (max-width: 87.5em) {
      height: $height-mini-desktop;
    }

    @media (max-width: 75em) {
      height: $height-tablet-land;
    }

    @media (max-width: 56.25em) {
      height: $height-tablet-port;
    }

    @media (max-width: 37.5em) {
      height: $height-phone;
    }
  }