@import '@/presentation/styles/main.scss';

.product {
  @include padding();

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: $black;

  h1,
  h5,
  h6,
  p {
    font-weight: 400;
  }

  .tshirtImage {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 780px;
    padding: 44px 0;

    .tshirtLogo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-47%, -95%);
      width: 200px;
      height: auto;

    }
  }

  .productMenu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 780px;
    padding: 16px;

    .productPrice {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      border-bottom: solid 1px $gray;
    }

    .productColor {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .colorToggle {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        width: auto;

        .toogleButtonOn {
          all: unset;
          cursor: pointer;
          text-indent: -60px;
          width: 60px;
          height: 32px;
          background: $gray;
          display: block;
          border-radius: 100px;
          position: relative;
          font-size: 1.4rem;
          font-weight: 400;
          cursor: pointer;

          &::Before {
            content: 'T-shirt';
            position: absolute;
            top: 2px;
            right: 70px;
          }

          &::after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 28px;
            height: 28px;
            background: $white;
            border-radius: 90px;
            transform: translateX(2px);
            transition: 0.2s;
          }
        }

        .toogleButtonOff {
          all: unset;
          cursor: pointer;
          text-indent: -60px;
          width: 60px;
          height: 32px;
          background: $grayDark;
          display: block;
          border-radius: 100px;
          position: relative;
          font-size: 1.4rem;
          font-weight: 400;
          cursor: pointer;

          &::Before {
            content: 'Design';
            position: absolute;
            top: 2px;
            left: -8px;
            right: 70px;
          }

          &::after {
            content: '';
            position: absolute;
            top: 2px;
            left: 24px;
            width: 28px;
            height: 28px;
            background: $gray;
            border-radius: 90px;
            transform: translateX(5px);
            transition: 0.2s;
          }
        }
      }
    }

    .colorSquare {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      max-width: 100%;
      flex-wrap: wrap;

      .square {
        all: unset;
        width: 3rem;
        height: 3rem;
        cursor: pointer;

        &:focus {
          transform: scale(1.2, 1.2)
        }
      }

      .squareBlack {
        @extend .square;
        background-color: #272727
      }

      .squareWhite {
        @extend .square;
        background-color: #FFFFFF;
        border: solid 1px $black;
      }

      .squareGray {
        @extend .square;
        background-color: #CFCDD3
      }

      .squareGrayDark {
        @extend .square;
        background-color: #626262
      }

      .squareBlueLight {
        @extend .square;
        background-color: #6AA6E2
      }

      .squareBlueAqua {
        @extend .square;
        background-color: #77D8ED
      }

      .squareBlueDark {
        @extend .square;
        background-color: #314195
      }

      .squareRed {
        @extend .square;
        background-color: #B20A29
      }

      .squareYellow {
        @extend .square;
        background-color: #D2F119
      }

      .squareGreen {
        @extend .square;
        background-color: #00A364
      }

      .squarePink {
        @extend .square;
        background-color: #FC91BA
      }

      .squareCoral {
        @extend .square;
        background-color: #FE7E83
      }

      .squarePurple {
        @extend .square;
        background-color: #604A9D
      }

      .squareOrange {
        @extend .square;
        background-color: #FE7F29
      }

      .squareBrown {
        @extend .square;
        background-color: #CFB69A
      }
    }

    .productSize {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.8rem;

      .sizeType {
        display: flex;
        align-items: center;
        gap: 24px;

      }

      .sizeSmall,
      .sizeMedium,
      .sizeLarge,
      .sizeXLarge {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: $gray;
        border: none;
        color: $black;
        font-size: 1.4rem;
        font-weight: 400;
        cursor: pointer;

        &:focus {
          transform: scale(1.2, 1.2);
          background-color: $grayDark;
          border: none;
          color: $white;
        }
      }

    }

    .addCartButton {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      color: $white;
      width: 100%;
      height: 4.2rem;
      font-weight: 500;
      font-size: 1.6rem;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      &:hover {
        background: $primaryDark;
        box-shadow: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024, 0px 1px 10px 0px #0000001f;
      }

      &:active {
        transform: translate(0, 2px);
      }
    }

    .productDetail {
      display: flex;
      flex-direction: column;

      gap: 0.8rem;

      p {
        text-align: justify;
      }
    }

  }
}