@import '@/presentation/styles/main.scss';

.shopCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
  width: 25rem;
  height: 30rem;

  .image {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    .tshirtImage {
      width: 284px;
      height: auto;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1), 1px 1px 20px rgba(0, 0, 0, 0.05);
    }

    .tshirtLogo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-47%, -80%);
      width: 100px;
      height: auto;

    }

    .shopAddCart {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      bottom: 16px;
      right: 0;
      width: 80px;
      height: 40px;
      font-weight: 400;
      background-color: $primary;
      color: $white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        background: $primaryDark;
        box-shadow: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024, 0px 1px 10px 0px #0000001f;
      }

      .iconAddCart {
        width: 20px;
        height: auto;
      }
    }
  }

  .shopLabel {
    width: 100%;
    padding: 8px 0;

    h6 {
      font-weight: 400;

      span {
        font-weight: 300;
        opacity: 0.6;
      }
    }
  }
}