@import '@/presentation/styles/main.scss';

.footer {
  @include padding();

  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100vw;
  background-color: $primaryDark;
  color: $white;

  h5 {
    font-weight: 500;
    cursor: pointer;
  }
}
