@import '@/presentation/styles/main.scss';

.modalCart {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  top: 0;
  right: 0;
  max-height: 100vh;
  width: 40rem;
  gap: 0 1.6rem;
  background-color: $white;
  z-index: 1;
  box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.10);
  color: $white;
  overflow-y: scroll;

  .modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
    padding: 0.8rem;
    background-color: $primary;

    .modalClose {
      width: 20px;
      height: auto;
      transform: rotate(45deg);
      cursor: pointer;
    }

    h6 {
      text-align: center;
      font-weight: 400;

      span {
        font-weight: 600;
      }
    }
  }

  .modalBody {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding: 0 0.8rem;
    color: $black;


    h5 {
      font-weight: 500;
    }

    .modalTotal {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: solid 1px $black;
      color: $black;


      h6 {
        font-weight: 400;
      }
    }

    .checkoutButton {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.6rem;
      font-weight: 500;
      background-color: $primary;
      color: $white;
      width: 100%;
      height: 4.2rem;
      font-size: 1.6rem;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      &:hover {
        background: $primaryDark;
        box-shadow: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024, 0px 1px 10px 0px #0000001f;
      }
    }

  }
}

.modalCartShow {
  @extend .modalCart;
  display: flex;
  width: 40rem;
  animation: slide-in 0.3s ease-out forwards;
}

@keyframes slide-in {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 480px;
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    width: 480px;
    opacity: 1;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}