@import '@/presentation/styles/main.scss';

.header {
  @include padding();

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  width: 100vw;
  background-color: $black;
  color: $white;

  .ttsLogo {
    width: 12rem;
    height: auto;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;

    a {
      @include responsive(phone) {
        display: none;
      }

      all: unset;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 80px;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $primary;
        transition: width 0.2s;
        z-index: -1;
      }

      &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
      }
    }

    h5 {
      font-weight: 500;
      cursor: pointer;
    }
  }

  .menuIcon {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 12rem;
    height: auto;
    cursor: pointer;
    margin-right: 10px;

    .cartIcon {
      @include responsive(phone) {
        display: none;
      }

      position: relative;
      fill: $white;
      width: 2.8rem;
      height: auto;
      transition: all 0.3s;

      &:hover {
        fill: $primary;
      }


    }

    span {
      @include responsive(phone) {
        display: none;
      }

      position: absolute;
      top: -5px;
      right: -10px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      font-weight: 600;
      font-size: 1.2rem;
      width: 21px;
      height: auto;
      background-color: $primary;
      border-radius: 50%;
    }

  }

  .menuHamburguerIcon {
    @include responsive(phone) {
      display: flex;
    }

    position: relative;
    display: none;
    justify-content: flex-end;
    width: 12rem;
    height: auto;
    cursor: pointer;
    margin-right: 10px;

    .hamburguerIcon {
      @include responsive(phone) {
        display: flex;
      }

      display: none;
      position: relative;
      fill: $white;
      width: 3.2rem;
      height: auto;
      transition: all 0.3s;
      margin-right: 10px;
    }
  }
}

.menuPhone {
  all: unset;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  background-color: $white;
  z-index: 100;

  a {
    all: unset;
    position: relative;
    font-size: 5rem;
    margin: 0 1.6rem;
    cursor: pointer;
    color: $primary;
    font-weight: 500;
    background-color: $white;

    &:before {
      content: '';
      position: absolute;
      left: -20%;
      top: 100%;
      background-color: $primary;
      width: 0;
      height: 3px;
      transition: all 0.3s;
    }

    &:active:before {
      width: 140%;
    }
  }

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3rem 3rem 0 0;
    transform: rotate(45deg);
    color: $primary;
    width: 30px;
    height: auto;
  }

}