@import '@/presentation/styles/main.scss';

.header {
  @include padding();

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  width: 100vw;
  background-color: $black;
  color: $white;

  .ttsLogo {
    width: 12rem;
    height: auto;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;

    a {
      all: unset;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 80px;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $primary;
        transition: width 0.3s;
        z-index: -1;
      }

      &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
      }
    }

    h5 {
      font-weight: 500;
      cursor: pointer;


    }


  }

  .menuIcon {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 12rem;
    height: auto;
    cursor: pointer;

    .cartIcon {
      fill: $white;
      width: 2.8rem;
      height: auto;
    }

    span {
      position: absolute;
      top: -5px;
      right: -10px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      font-weight: 600;
      font-size: 1.2rem;
      width: 21px;
      height: auto;
      background-color: $primaryDark;
      border-radius: 50%;

    }
  }
}